<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.headquarter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_headquarter"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_headquarter_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".com.headquarter.activity.activity.EventActivity"
            android:label="@string/title_activity_event"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".com.headquarter.activity.activity.activity.BottomNavigationViewActivity"
            android:label="@string/title_activity_menu" />
        <activity android:name=".com.headquarter.activity.activity.activity.LogInActivity" />
        <activity android:name=".com.headquarter.activity.activity.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>